*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefff;
}
.wrapper{
    position: absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
}
input:not([type="checkbox"]){
    background-color: #f0fbfb;
    border: 2px solid #0e353a;
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 12px;
    border-radius: 3px;
    font-size: 1.05em;
    padding-right: 0;
    outline: none;
    position: relative;
    transition: .3s;
}
input:focus{
    border-color: #8da1aa;
}
label{
    font-size: 0.93em;
    font-weight: bold;
    color: #0e353a;
    margin: 3px 0;
}
.show{
    float: right;
    display: flex;
    align-items: center;
}
.show input{
    width: 15px;
    /* appearance: none; */
    height: 15px;
    border-radius: 2px;
    border: 2px solid #0e353a;
    margin-right: 5px;
}
.show input:checked{
    background-color: #abe0ed;
}
input[type="button"]{
    background-color: #57c0d8;
    border-color: #57aadd;
    color: #fff;
    font-weight: bold;
    font-size: 1.05em;
    cursor: pointer;
    margin-bottom: 0;
}
.monkey{
    position: relative;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    background-color: #abe0ed;
    border-radius: 50%;
    border: 2px solid #0e353a;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.monkey_head{
    width: 80px;
    height: 80px;
    top: 18px;
    border-radius: 40px 40px 0 0;
    border: 2px solid #0e353a;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom-color: #fff;
}
.q1,.q2{
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    border: 2px solid #0e353a;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
}
.q1::after,
.q2::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid #0e353a;
    z-index: 0;
}
.q1{
    left: -11px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    background: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}
.q1::after{
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}
.q2{
    right: -11px;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-bottom-color: transparent;
    background: linear-gradient(-135deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}
.q2::after{
    border-left-color: transparent;
    border-bottom-color: transparent;
    background: linear-gradient(-135deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}
.monkey_body{
    width: 160px;
    height: 150px;
    bottom: -100px;
    border-radius: 40px;
    border: 2px solid #0e353a;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.passw .monkey_body{
    border-radius: 0px;
}
.monkey_body::after{
    content: '';
    width: 90px;
    height: 90px;
    top: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #def8f4;
    filter: blur(2px);
}
.face{
    width: 50px;
    position: absolute;
    top: 4px;
    border-radius: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #def8f4ff;
    backdrop-filter: blur(6px);
}
.face::before{
    content: '';
    position: absolute;
    border-radius: 20px 20px 0 15px;
    top: -6px;
    width: 42px;
    height: 30px;
    background-color: #fff;
}
.hair-b{
    position: absolute;
    transform: translate(10px, -10px) scale(.8);
}
.sq{
    position: absolute;
    bottom: -15px;
    transform: translate(5px, 0px) scale(.8);
}
.hair-t{
    position: absolute;
    transform: translate(7px, -39px) scale(.8);
}
.hair-r{
    position: absolute;
    transform: translate(39px, 7px) scale(.85);
}
.hair-l{    
    position: absolute;
    transform: translate(-36px, 7px) scale(.85);
}
.face-det{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.glass{
    position: absolute;
    top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5px;
}
.glass::before,
.glass::after{
    content: '';
    background-color: #30393c;
    width: 6px;
    transition: all .3s;
    height: 6px;
    border-radius: 5px;
    animation: eye 5s linear infinite;
}
.foc .glass::before,
.foc .glass::after{
    transform: translate(-4px, 5px) scale(.7);
}
.open .glass::before,
.open .glass::after{
    transform: translateY(5px) scale(.7);
} 
.passw .glass::before,
.passw .glass::after{
    transform: translateY(0px) scale(.9);
}
.nose{
    position: absolute;
    top: 15px;
    height: 8px;
    transition: .3s;
    width: 8px;
    background-color: #30393c;
    border-radius: 9px 5px 7px 11px / 4px 7px 11px 11px;
}
.foc .nose{
    transform: translate(-5px, 4px) scale(.9);
}
.open .nose{
    transform: translate(0,3px) scale(.7);
}
.passw .nose{
    transform: translate(0,0px) scale(.9);
}
.mouth{
    position: absolute;
    top: 30px;
    width: 20px;
    height: 5px;
    border: 3px solid #30393c;
    border-top: 1px solid transparent;
    border-radius: 0px 0px 10px 10px;
    transition: all .3s;
    overflow: hidden;
}
.foc .mouth{
    transform: translate(-3px, 0px);
}
.open .mouth{
    background-color: #60878d;
    position: absolute;
    top: 27px;
    width: 26px;
    height: 15px;
    border: 2px solid #30393c;
    /* border-top: 1px solid transparent; */
    border-radius: 5px 5px 15px 15px;
    transform: translate(0px, 0px);
}
.tht{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    top: -3px;
    right: 3px;
    border-radius: 2px;
}
.open .lan{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #9f5178;
    bottom: -6px;
    right: 6px;
    border-radius: 50%;  
}
.hand{
    position: absolute;
    width: 70px;
    height: 35px;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 2px solid #0e353a;
    border-right: 1px solid transparent;
    z-index: 5;
    top: -22px;
    left: -27px;
    transition: .3s;
    transform: rotate(90deg);
    transform-origin: 0px 0px;
}
.hand.l{
    transform: rotate(90deg);
    top: -25px;
    left: 160%;
}
.passw .hand{
    transform: rotate(-25deg);
}

.passw .hand.l {
    transform: rotate(
206deg
);
}

.hand.l {
    transform: rotate(90deg);
    top: 10px;
    left: 120%;
    transition-delay: .05s;
}
.passw .hand.l {
    top: 12px;
    left: 107%;
}
.fing{
    position: absolute;
    width: 23px;
    height: 8px;
    top: calc(var(--i)*7px + 1px);
    right: -32px;
    background: #e0f6f7;
    border-radius: 0 5px 5px 0;
    border: 2px solid #0e353a;
    border-left: 1px solid transparent;
    transition: .3s;
    transform-origin: 0 0;
    z-index: 2;
}
.fing.b{
    width: 20px !important;
    right: -20px;
}
.showing .c{
    transform: rotate(35deg);
}
.showing .c.d{
    border-bottom: 1px solid transparent;
}
.h-l{
    position: absolute;
    transform: rotate(10deg) scale(.6);
    right: -24px;
    z-index: 3;
    top: -27px;
}
.h-r{
    position: absolute;
    transform:rotate(10deg) scale(.6);
    right: -24px;
    z-index: 3;
    top: -27px;
}
.kf{
    position: absolute;
    right: -12px;
    /* z-index: 2; */
    top: 0;
    border-radius: 3px;
    width: 12px;
    height: 30px;
    border: 2px solid #0e353a;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: #e0f6f7;
}
@keyframes eye{
    0%,48%,52%,100%{
        height: 6px;
    }
    50%{
        height: 1px;
    }
}